header{
    width: 100%;
    height: 100vh;
    color: #fff;
    font-size: 3rem;

    display: grid;
    grid-template-columns: 80px 10px repeat(2, 1fr);


    position: relative;
    overflow: hidden;
}

.name-page{
    position: absolute;
    bottom: 0;
    right: 0;


   font-family: 'Now-font';
   font-size: 6rem;
   font-weight: 900;
   writing-mode: vertical-rl;
   transform: rotate(180deg); 


    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #aaa5a5;
    z-index: -1;
}

.hero__social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero__line{
    height: 150px;
    border-right: 1px solid gray;
    opacity: 0.7;
    margin: auto 0;
}

.hero__social p{
    font-family: 'Roboto';
    font-size: 20px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.hero__social__icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__social__icon img{
    filter: invert(50%);
}


.hero__left{
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}


.content__object h1{
    font-family: 'Roboto';
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content__object h1 span:nth-child(n + 2){
    color: transparent;
    font-family: 'Now-font';
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-four);
}
.content__object p{
    font-family: 'Roboto';
    font-size: 20px;
}

.content__buttom .btn__content{
    width: 200px;
    font-family: 'Roboto';
    font-size: 1rem;
    color: var(--color-nine);
    padding: 10px 12px;
    border-radius: 20px;
    background: var(--color-one);
    border: none;
}

.hero__right{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background: lightslategray; */
   position: relative;
}

.hero__image{
    width: 250px;
    height: 450px;
   /*  background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid #fff; */
}

.hero__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mask-image: linear-gradient(black 80%, transparent);
    filter: drop-shadow(0px 5px 15px rgba(1, 1, 1, 0.7));
}

.hero__right::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: var(--color-one);
    filter: blur(20px);
    opacity: 0.4;
    z-index: -1;
}


@media (max-width: 768px) {
    .hero__social{
        display: none;
    }

    .hero__line{
        display: none;
    }

    header{
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 3rem;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    
    
        position: relative;
        gap: 0;
        overflow-x: hidden;
    
    }

    .hero__left{
        width: 100%;
        height: 100%;
        order: 2;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 30px;
        position: relative;
        z-index: 60;
        gap: 20px;
    }

    .hero__left::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }

    .hero__image{
        width: 300px;
        height: 500px;
        z-index: 3;
    }

    .hero__right{
        width: 100%;
        height: 100vh;
        order: 1;
    }
    
    .hero__right img{
        opacity: 1;
    }

    .hero__right::after{
        width: 500px;
        height: 500px;
    }

    .name-page{
        position: absolute;
        bottom: 100px;
        right: 50%;
      
       font-size: 3rem;
 
       writing-mode: horizontal-tb;
       transform: translateX(50%) rotate(0deg); 
    
        z-index: 1;
    }

    
.content__object h1{
    font-size: 3.5rem;
}
.content__object h1 span:nth-child(n + 2){
    font-size: 3.5rem;
}

.content__object p{
    font-size: 24px;
}

.content__buttom{
    width: 100%;
}

.content__buttom .btn__content{
    width: 100%;
    font-size: 1.2rem;
    padding: 18px 12px;
}

}