@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Bangers';
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}

@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Now-font';
    src: url(../fonts/Now_Font/Now-Bold.otf);
}

@font-face {
    font-family: 'Allura';
    src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: 'Yellowtail';
    src: url(../fonts/Yellowtail/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: 'Licorice';
    src: url(../fonts/Licorice/Licorice-Regular.ttf);
}



:root {

    /*Paletas de colores*/
    --color-one: #7400b8;
    --color-two: #6930c3;
    --color-three: #5e60ce;
    --color-four: #5390d9;
    --color-five: #4ea8de;
    --color-six: #48bfe3;
    --color-seven: #56cfe1;
    --color-eight: #64dfdf;
    --color-nine: #72efdd;
    --color-ten: #80ffdb;

    --color-dark: #0d1113;

    color-scheme: dark;
}

/*inicio de codigo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar-width: none; */
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--color-dark);
    position: relative;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
}



.name-page {
    position: absolute;
    bottom: 0;
    right: 0;


    font-family: 'Now-font';
    font-size: 9rem;
    font-weight: 900;
    /* writing-mode: vertical-rl;
   transform: rotate(180deg); */


    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #aaa5a5;
}

/*Nombre del proyecto*/

/*fin del nombre*/


/* globales de elementos iguales*/
.main {
    width: 100%;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    overflow: hidden;
    background-color: var(--color-dark);
}


main .section-name {
    font-family: 'Now-font';
    /* letter-spacing: -10px; */
    font-weight: 800;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
    z-index: 2;
}

/*section service*/
main .service {
    position: relative;
    /*background: linear-gradient(90deg, var(--color-dark), var(--color-three)); */
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

main .service .container-name h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
}

.service .container-name {
    position: inherit;
    display: inline-block;
    top: 10px;
    left: 0;
    z-index: 2;
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

#hex-grid {
    height: 100vh;
    background-color: transparent;
    /* mask-image: linear-gradient(to right, transparent 0, transparent 51px,
                    #000 77px, #000 50%, transparent 50%, transparent 100%),
                linear-gradient(to left, transparent 0, transparent 51px,
                    #000 77px, #000 50%, transparent 50%, transparent 100%); */
    mask-image: radial-gradient(ellipse, var(--color-dark) 20%, rgba(239, 227, 227, 0.1) 90%);

}

#hex-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/grid.svg');
    /* mask-image: linear-gradient(var(--color-dark) 80%, transparent); */

    background-repeat: repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 100vw;
}

#hex-grid .light {
    position: absolute;
    top: 100%;
    left: 100%;
    /* background: radial-gradient(circle at center, var(--color-one) 0%, var(--color-four) 100%); */
    background: url("../images/blur-bg.webp") no-repeat center / cover;
    background-repeat: round;
    transform: translate(-100%, -100%);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    z-index: -1;
    background-size: 1000px;
}


/*section player*/

main .player {
    background: linear-gradient(90deg, rgb(7, 10, 201), #080808);
    width: 100%;
    height: 100vh;
    position: relative;
}

main .player .container-name h2 {
    writing-mode: vertical-lr;
}

.player .container-name {
    position: absolute;
    top: 10px;
    right: 0;
}

/*section about*/

main .about-us {
    background: linear-gradient(90deg, #080808, rgb(158, 6, 31));
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-us .container-name {
    position: absolute;
    top: 10px;
    left: 20px;
}


/* Responsive */

@media (width > 768px) {

    .hero__main {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 90px;
    }

    .hero__content {
        width: 50%;
        order: 2;
    }

    .hero__paragraph {
        font-size: 1.2rem;
    }

    .hero__buttons {
        width: 30%;
    }

    .hero__scroll {
        display: block;
    }

    .hero__social {
        order: 1;
        flex-direction: column;
        /* width: 10%; */

        &::before {
            content: "";
            height: 4rem;
            width: 3px;
            border-radius: 10px;
            background-color: #fff;
            left: 0;
            top: 0;
        }

        &::after {
            content: "";
            height: 4rem;
            width: 3px;
            border-radius: 10px;
            background-color: #fff;
            right: 0;
            top: 0;
        }

    }

    .hero__figure {
        order: 3;
        width: 40%;
    }

}

@media (width > 1024px) {

    /* .container {
        position: relative;
    } */

    .nav {
        height: 120px;
        --opacity-menu: 1;
        --transform-menu: unset;
        --pointer-menu: unset;

        height: 80px;
        background-color: rgba(29, 28, 28, 0.8);
        padding: 1rem 2rem;
        border-radius: 80px;
        margin-top: 2em;

    }

    .nav__menu {
        position: static;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .nav__links {
        flex-direction: row;
        gap: 1rem;
        margin: 0 auto;
    }

    .nav__buttons {
        flex-direction: row;
        margin-top: 0;
        gap: 1em;
    }

    .nav__label {
        display: none;
    }

    .hero__buttons {
        flex-wrap: nowrap;
    }





}

@media (width > 768px) and (width < 1024px) {
    .nav__logo-bg {
        font-size: 5rem;
    }
}