@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Bangers';
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}

@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Now-font';
    src: url(../fonts/Now_Font/Now-Bold.otf);
}

@font-face {
    font-family: 'Allura';
    src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: 'Yellowtail';
    src: url(../fonts/Yellowtail/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: 'Licorice';
    src: url(../fonts/Licorice/Licorice-Regular.ttf);
}

@font-face {
    font-family: 'Monoton';
    src: url(../fonts/Monoton/Monoton-Regular.ttf);
}

@font-face {
    font-family: 'Bombing';
    src: url(../fonts/bombing/Bombing.ttf);
}

@font-face {
    font-family: 'brushed';
    src: url(../fonts/brushed/Brushed.ttf);
}

@font-face {
    font-family: 'urban';
    src: url(../fonts/urban_heroes/Urban\ Heroes.ttf);
}

@font-face {
    font-family: 'docallisme';
    src: url(../fonts/docallisme_on_street/DOCALLISME\ ON\ STREET.ttf);
}

@font-face {
    font-family: 'arvo';
    src: url(../fonts/Arvo/Arvo-Regular.ttf);
}

@font-face {
    font-family: 'playfair';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'catamaran';
    src: url(../fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}


/*paleta de colores*/
:root{
    --color-one: #7400b8;
    --color-two: #6930c3;
    --color-three: #5e60ce;
    --color-four: #5390d9;
    --color-five: #4ea8de;
    --color-six: #48bfe3;
    --color-seven: #56cfe1;
    --color-eight: #64dfdf;
    --color-nine: #72efdd;
    --color-ten: #80ffdb;
    --color-rosa: #f50a80;
}
/*inicio de codigo */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
}

body{
    background: #080808;
}






/*Nombre del proyecto*/

/*fin del nombre*/


/* globales de elementos iguales*/
main{
    width: 100%;
    height: 100%;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 3rem;
    overflow: hidden;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .container-name h2{
    text-transform: uppercase;
    font-size: 80px;
}

main .section-name{
    font-family: 'Now-font';
    /* letter-spacing: -10px; */
    font-weight: 800;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #aaa5a5;
}

/*section service*/
main .service{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main .service .container-name h2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.service .container-name{
    position: absolute;
    top: 10px;
    left: 0;
}

/*section player*/

main .player{
    width: 100%;
    height: 100vh;
    position: relative;
}

main .player .container-name h2{
    writing-mode: vertical-lr;
}

.player .container-name{
    position: absolute;
    top: 10px;
    right: 0;
}

/*section about*/

main .about-us{
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-us .container-name{
    position: absolute;
    top: 10px;
    left: 20px;
}

main .about-us .container-name h2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
/*footer*/
footer{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 768px) {

    header{
        font-size: 3rem;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
    
        position: relative;
    }

    main .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    section .container-name h2{
        font-size: 60px;
        text-align: center;
    }

    .service .container-name{
        position: static;
    }

    main .service .container-name h2{
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    /*PLAYER*/
    main .player{
        margin-top: 50px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    main .player .container-name h2{
        writing-mode: horizontal-tb;
    }
    
    .player .container-name{
        position: static;
    }

    /*about*/
    
main .about-us{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-us .container-name{
    position: static;
}

main .about-us .container-name h2{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

}