@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Bangers';
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}

@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Now-font';
    src: url(../fonts/Now_Font/Now-Bold.otf);
}

@font-face {
    font-family: 'Allura';
    src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: 'Yellowtail';
    src: url(../fonts/Yellowtail/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: 'Licorice';
    src: url(../fonts/Licorice/Licorice-Regular.ttf);
}



:root {

    /*Paletas de colores*/
    --color-one: #7400b8;
    --color-two: #6930c3;
    --color-three: #5e60ce;
    --color-four: #5390d9;
    --color-five: #4ea8de;
    --color-six: #48bfe3;
    --color-seven: #56cfe1;
    --color-eight: #64dfdf;
    --color-nine: #72efdd;
    --color-ten: #80ffdb;
    --color-rosa: #f50a80;

    --color-dark: #0d1113;

    color-scheme: dark;
}

/*inicio de codigo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar-width: none; */
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--color-dark);
    position: relative;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
}



.name-page {
    position: absolute;
    bottom: 0;
    right: 0;


    font-family: 'Now-font';
    font-size: 9rem;
    font-weight: 900;
    /* writing-mode: vertical-rl;
   transform: rotate(180deg); */


    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #aaa5a5;
}

/*Nombre del proyecto*/

/*fin del nombre*/


/* globales de elementos iguales*/
.main {
    width: 100%;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    overflow: hidden;
    background-color: var(--color-dark);
}




/*section service*/



/*section player*/

main .player {
    background: linear-gradient(90deg, rgb(7, 10, 201), #080808);
    width: 100%;
    height: 100vh;
    position: relative;
}

main .player .container-name h2 {
    writing-mode: vertical-lr;
}

.player .container-name {
    position: absolute;
    top: 10px;
    right: 0;
}

/*section about*/

main .about-us {
    background: linear-gradient(90deg, #080808, var(--color-dark));
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-us .container-name {
    position: absolute;
    top: 10px;
    left: 20px;
}
