.container-nav{
    width: 100%;
    position: absolute;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-lateral{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menu {
    width: 25px;
    height: 25px;
}

.container-nav-btn{
    display: flex;
    gap: 20px;
}
.btn-menu-user{
    /* padding: 8px 12px; */
    /* border-radius: 20px; */
    border: none;
    appearance: none;
    outline: none;
    background: none;
    color: #ffffffff;
    font-size: 1rem;
    border-bottom: 1px solid #ffffffff;
}

.btn-menu-user:nth-child(1){
    font-family: 'Roboto';
    font-size: 1rem;
    color: var(--color-nine);
    padding: 10px 30px;
    border-radius: 20px;
    background: var(--color-one);
    border: none;
}

.container-nav-list{
   /*  background: rgba(255, 255, 255, 0.6); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
    border-radius: 20px;
}

.item-nav{
    color: white;
    font-family: 'Roboto';
    font-size: 1rem;
    list-style: none;
    
    padding: 2px 4px;
}


/* Desktop */
@media (min-width: 768px) {
    .container-nav{
        top: 10px;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

}

/* Mobile */
@media (max-width: 768px) { 
    .container-nav{
        position: fixed;
        bottom: 10px;
        left: 0;
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

     
 }

