.player__conteint{
   width: 100%;
   height: 100%;
   /* background: red; */

   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.player__list{
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.player__list_container{
    /* background-color: aliceblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 60px;
    border-left: 1px solid rgba(79, 47, 192, 0.5);
}


.player__item{
    /* background: red; */
    width: 450px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    border-bottom: 1px solid rgba(79, 47, 192, 0.3);
}

.player__item_conteint{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player__item_num{
    font-size: 2rem;
}

.player__item_img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.player__item_img img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: blanchedalmond;
}

.player__item_title{
    font-size: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player__item_title h4{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.player__item_title p{
    font-size: 0.9rem;
    font-weight: 300;
    color: gray;
}

.player__item_btn-play{
    background: black;
}

.player__item_btn-play button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(79, 47, 192, 0.5);
    cursor: pointer;
}

/*parte izquierda de seccion*/

.player__reproduct{
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__reproduct_container{
    width: 450px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: 2rem;
    gap: 20px;
}

.player__reproduct_containt{
    font-size: 1rem;
}