section.separed{
    width: 100%;
    height: 300px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}



.slider{
    position: absolute;
    display: flex;
    width: 1400px;
    height: 60px;
    background: rgba(103, 105, 226, 0.5);
    color: black;
    backdrop-filter: blur(5px);
    overflow: hidden;
    cursor: pointer;
    /* white-space: nowrap; */
}

.slider:hover .slide__track{
    animation-play-state: paused;
}

.slide__track{
   display: flex;
   white-space: nowrap;
   animation: scroll 20s infinite linear;
   width: 100%;
}

.slider .slide{
    text-align: center;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide h6{
    font-family: 'Roboto';
    font-size: 3rem;
}

.slide small{
    font-size: 1.5rem;
}

.slider:nth-child(1){
    transform: rotate(5deg);
}

.slider:nth-child(2){
    transform: rotate(-10deg);
} 


/*

.slider .slide__track:nth-child(1){
    animation: scrolliz 5s infinite linear;
}



.slider .slide__track:nth-child(2){
    animation: scrollde 40s linear infinite;
}
 */



/* Mobile */
@media (max-width: 768px) { 
    section.separed{
        width: 100%;
        height: 100vh;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        top: 0;
        position: absolute;
        overflow: hidden;
    }

    .slider{
        position: absolute;
        display: flex;
        width: 1400px;
        height: 60px;
        background: rgba(103, 105, 226, 0.5);
        color: black;
        /* white-space: nowrap; */
    }

    .slide__track{
        display: flex;
        position: relative;
        white-space: nowrap;
        animation: scroll 20s infinite linear;
        width: 100%;
     }

    .slider .slide{
        text-align: center;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider:nth-child(1){
        transform: rotate(45deg);
        z-index: -1;
    }
    
    .slider:nth-child(2){
        transform: rotate(-40deg);
        z-index: 6;
    } 
    
}


@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* @keyframes scrollde {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(200px * 7));
    }
} */

