.service {
  padding: 80px 0 100px 0;
  position: relative;
  background-color: var(--color-bg-2);

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image:
      linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
      linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
    background-size: 60px 24px;
    mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
    /* z-index: 1; */
  }

}

.service__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
  padding-bottom: 2rem;
}

.onaire {
  font-size: 2rem;
  color: #ffffff;
  font-family: "Roboto";
  border: 2px solid var(--color-one);
  border-radius: 10px;
  padding: 10px 15px;
  width: max-content;
  height: max-content;
  z-index: 5;
  text-shadow: -0.1rem -0.1rem 0.5rem #fff, 0.1rem 0.1rem 0.5rem #fff,
    0 0 0.5rem var(--color-rosa), 0 0 1rem var(--color-rosa),
    0 0 2rem var(--color-rosa), 0 0 4rem var(--color-rosa),
    0 0 6rem var(--color-rosa);

  box-shadow: 0 0 0.2rem #fff,
    inset 0 0 0.2rem #fff,
    0 0 0.5rem var(--color-six),
    inset 0 0 0.5rem var(--color-six),
    0 0 1rem var(--color-six),
    inset 0 0 1rem var(--color-six);

  animation: neon 1.5s infinite alternate;
}

.service__content {
  margin-top: 2rem;
  height: 100%;
  z-index: 2;
}

/*contenedor de slider*/
.service__slider {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 0 0 4rem 0;
  position: relative;
  mask-image: linear-gradient(to right, black 90%, transparent);

}

/* Tarjetas de servicios*/
.service__card {
  scroll-snap-align: center;
  padding: 2rem;
  height: max-content;
  min-width: 320px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(75, 4, 101, 0.2);
  box-shadow: inset 1px 1px 2px 0 #ffffff44, inset -1px -1px 2px 0px #00000088;
}

.service__item__fondo {
  font-family: 'Now';
  font-size: 3rem;
  /* opacity: 0.8; */
}

.service_item_title {
  width: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Now-font';
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  opacity: .5;
}

.service__item__btn {
  display: flex;
  justify-content: space-between;
  width: 85%;
  position: absolute;
  left: 2rem;
  bottom: 2rem;

  & p {
    color: var(--color-six);
    font-size: 2rem;
    text-transform: uppercase;
  }

  & img {
    width: 50px;
    cursor: pointer;
    padding: 0;
    opacity: 0.8;
    transition: opacity .5s, transform .5s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

  }

}

.service_item_subtitle p {
  font-family: 'Now-font';
  color: var(--color-six);
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

/* Animate neon parpadeo */
@keyframes neon {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

    text-shadow: -0.1rem -0.1rem 0.5rem #fff, 0.1rem 0.1rem 0.5rem #fff,
      0 0 0.5rem var(--color-rosa), 0 0 1rem var(--color-rosa),
      0 0 2rem var(--color-rosa), 0 0 4rem var(--color-rosa),
      0 0 6rem var(--color-rosa);

    box-shadow: 0 0 0.2rem #fff,
      inset 0 0 0.2rem #fff,
      0 0 0.5rem var(--color-six),
      inset 0 0 0.5rem var(--color-six),
      0 0 1rem var(--color-six),
      inset 0 0 1rem var(--color-six);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

/* RESPONSIVE */
@media (width > 768px) {

  .service__header {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2rem 4rem 0;
  }

  .service__title {
    text-align: left;
    font-size: 6rem;
    margin-bottom: 0;
  }

  .service__card {
    min-width: 380px;
  }

  .service__slider {

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 22px;
      height: 12px;
    }

  }

}