.header-podcast,
.header-episode {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-podcast h3 {
    color: var(--color-two);
    margin-right: 4rem;
}

.btn__logout{
  padding: 10px 12px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.podcast-item {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.podcast-item figure,
.episode-item figure {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.podcast-item figure img,
.episode-item img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
    object-fit: cover;
}

.podcast-title,
.episode-title {
    font-size: 16px;
    margin: 10px 0;
    color: var(--color-six);
}

.episodes {
    margin-top: 2rem;
}

.episode-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 4rem;
}

.episode-item {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;
    width: 500px;
    height: 150px;
    overflow: hidden;
    border: 1px solid var(--color-three);
}

.episode-info{
    width: calc(100% - 150px);
}

.episode-item figure {
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 127px;
}

.episode-item figure img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
}

.episode-description {
    opacity: .9;
    margin-bottom: 5px;
}

.episode-host {
    opacity: .6;
    font-size: 12px;
}


.episode-play {
    width: 60px;
    height: 60px;
    background: transparent;
    padding: 10px 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: var(--color-two);
    font-size: 24px;
    cursor: pointer;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}